{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}


{% if not is_unzer_enabled() %}
<a class="ui labeled buttons icon top floating button yellow" href="{{ path('unzer_admin_enable') }}">
    <i class="configure icon"></i>
    {{ 'sylius_unzer_plugin.ui.configuration.button.enable'|trans }}
</a>
{% endif %}
