.ui.labeled.buttons.icon.top.floating.button.unzer-button {
    background-color: rgba(252, 17, 84, 1);
    color: white;
}

.unzer-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}
