button.btn.unzer-button {
    background-color: rgba(252, 17, 84, 1);
    color: white;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.unzer-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.unzer-logo {
    max-width: 110px;
    display: block;
    height: auto;
}

.unzer-logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

button.btn.unzer-button.unzer-logo-container span {
    margin-left: 25px;
}

.unzer-transaction-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unzer-transaction-image {
    max-width: 40px;
    max-height: 40px;
}

.unzer-transaction-label {
    margin-left: 10px;
}
