<div id="unzer-payment-dialog-placeholder"></div>
<script type="text/javascript">
    //# sourceURL=payment_page_dialog.js
    document.addEventListener('DOMContentLoaded', () => {
        const paymentPageCreateUrl = '{{ unzer_payment_page_url }}';
        let unzerPaymentType = '{{ unzer_payment_page_type }}';
        let unzerDialogPlaceholder = document.getElementById('unzer-payment-dialog-placeholder');
        let checkoutCompleteForm = unzerDialogPlaceholder.closest('form');
        if (!checkoutCompleteForm) {
            return;
        }

        function createPayPage(selectedUnzerPaymentType) {
            return fetch(paymentPageCreateUrl, {
                method: 'post',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({ paymentType: selectedUnzerPaymentType })
            }).then(function(res) {
                return res.status === 400 ? window.location.reload() : res.json();
            })
        }

        checkoutCompleteForm.addEventListener("submit", function(event) {
            let selectedUnzerPaymentType = unzerPaymentType || checkoutCompleteForm.querySelector('input[name=unzer_payment_method_type]:checked')?.value;
            if (!selectedUnzerPaymentType) {
                return;
            }

            event.preventDefault();

            checkoutCompleteForm.classList.add('loading');

            createPayPage(selectedUnzerPaymentType).then(function (payPageData) {
                let checkout = new window.checkout(payPageData.id);

                checkout.abort(function() {
                    // handle abort event.
                    checkout._hideIframe();
                    checkoutCompleteForm.classList.remove('loading');
                });

                checkout.success(function(data) {
                    // TODO: handle success event.
                    window.location.href = 'ReturnController.php';
                });

                checkout.error(function(error) {
                    console.log(error);

                    checkout._hideIframe();
                    checkoutCompleteForm.classList.remove('loading');
                });

                checkout.init().then(function() {
                    checkout.open();
                    checkoutCompleteForm.classList.remove('loading');
                });
            });
        }, true);
    });
</script>
