<div id="unzer-payment-dialog-placeholder"></div>
{% set data  = unzer_provider_data() %}
<script type="text/javascript">
    //# sourceURL=payment_page_dialog.js
    document.addEventListener('DOMContentLoaded', () => {
        const paymentPageCreateUrl = '{{data.unzer_payment_page_url }}';
        const paymentErrorUrl = '{{ data.unzer_payment_error }}';
        let unzerPaymentType = '{{ data.unzer_payment_page_type }}';
        let unzerDialogPlaceholder = document.getElementById('unzer-payment-dialog-placeholder');
        let checkoutCompleteForm = unzerDialogPlaceholder.closest('form');
        console.log('checkoutCompleteForm', checkoutCompleteForm);
        if (!checkoutCompleteForm) {
            return;
        }

        function createPayPage(selectedUnzerPaymentType) {
            return fetch(paymentPageCreateUrl, {
                method: 'post',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({ paymentType: selectedUnzerPaymentType })
            }).then(function(res) {
                return res.status === 400
                    ? (window.location.reload(), setTimeout(() => window.scrollTo(0, 0), 100))
                    : res.json();
            })
        }

        checkoutCompleteForm.addEventListener("submit", function(event) {
            console.log('checkoutCompleteForm submit');
            let selectedUnzerPaymentType = unzerPaymentType || checkoutCompleteForm.querySelector('input[name=unzer_payment_method_type]:checked')?.value;
            if (!selectedUnzerPaymentType) {
                return;
            }

            event.preventDefault();

            checkoutCompleteForm.classList.add('loading');

            createPayPage(selectedUnzerPaymentType).then(function (payPageData) {
                let checkout = new window.checkout(payPageData.id);

                checkout.abort(function() {
                    // handle abort event.
                    checkout._hideIframe();
                    checkoutCompleteForm.classList.remove('loading');
                });

                checkout.error(function(error) {
                    checkout._hideIframe();
                    checkoutCompleteForm.classList.remove('loading');
                    return fetch(paymentErrorUrl, {
                        method: 'post',
                        headers: { 'content-type': 'application/json' },
                        body: JSON.stringify({ errorMessage: error.error.customerMessage || error.error.message })
                    }).then(function(res) {
                        return res.status === 400
                            ? (window.location.reload(), setTimeout(() => window.scrollTo(0, 0), 100))
                            : res.json();
                    })
                });

                checkout.success(function(data) {
                    if(!data.redirectUrl) {
                        window.location.href = data.returnUrl;
                    }
                });

                checkout.init().then(function() {
                    checkout.open();
                    checkoutCompleteForm.classList.remove('loading');
                });
            });
        }, true);
    });
</script>
