<input hidden type="radio" id="unzer_payment_method_type_none" name="unzer_payment_method_type" required="required" class="unzer-payments hidden" data-test-payment-method-select="" value="">

<div class="item">
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" id="unzer_payment_method_type_0_type_1" name="unzer_payment_method_type" required="required" class="unzer-payments" data-test-payment-method-select="" value="unzer_payment_type_1" {% if (unzer_payment_method_type is same as('unzer_payment_type_1')) %}checked{% endif %}><label></label>
        </div>
    </div>
    <div class="content">
        <a class="header"><label data-test-payment-method-label="" for="unzer_payment_method_type_0_type_1" class="required">Unzer Type 1</label></a>
    </div>
</div>
<div class="item">
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" id="unzer_payment_method_type_0_type_2" name="unzer_payment_method_type" required="required" class="unzer-payments" data-test-payment-method-select="" value="unzer_payment_type_2" {% if (unzer_payment_method_type is same as('unzer_payment_type_2')) %}checked{% endif %}><label></label>
        </div>
    </div>
    <div class="content">
        <a class="header"><label data-test-payment-method-label="" for="unzer_payment_method_type_0_type_2" class="required">Unzer Type 1</label></a>
    </div>
</div>
