{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}



<a class="ui labeled buttons icon top floating button yellow" href="{{ path('acme_sylius_example_dynamic_welcome') }}" data-confirm-pay-pal-consent>
    <i class="paypal icon"></i>
    SALE TEST
</a>
